#picture {
    width: 300px;
    height:300px;
    padding-left: 1100px;
   
  }

  #photo {
    color: rgb(20, 75, 130);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 1050px;
  }
#photograph {
    width: 300px;
    height:300px;
    
}
  
  
  .header{
      background-color: rgb(129, 189, 222);
      color: rgb(35, 52, 67);
  
  }
  .link {
      color: rgb(20, 34, 46);
      text-align: center;
      
  }
  section {
      padding: 20px;
      border: 1px solid white;
      background-color: aliceblue;
  }
  
  .aboutme {
      background-color: bisque;
  }
  
  .services {
      background-color: cadetblue;
  }
  
  h2 {
      color: blue;
  }
  
  p{
      font-size: 16px;
      line-height: 1.5;
  }
  footer {
      background-color:dimgrey;
      color:aliceblue;
      padding: 20px;
  }
  
  .footerinfo h3 {
      font-size: 1.5rem;
  }
  
  .footerinfo p {
      font-size: 1rem;
  }
  
  .socialicons h3 {
      font-size: 1.5rem;
  }
  
  .socialicons a {
      text-decoration: none;
      color:aliceblue
  }
  
  .socialicons img {
      padding-left: 10px;
  }
  

  
  #text{
      background-color: black;
      color: azure;
      border: 3px solid rgb(0, 0, 0);
    
  }
  
  #number {
      background-color: azure;
      color: black;
      border: 3px solid rgb(0, 0, 0);
  }
  
  #number1 {
      background-color: azure;
      color: rgb(226, 43, 43);
      border: 3px solid rgb(0, 0, 0);
  }
  
  #number2 {
      background-color: rgb(181, 181, 181);
      color: rgb(0, 0, 0);
      border: 3px solid rgb(0, 0, 0);
  }
  
  #number12 {
      background-color: rgb(181, 181, 181);
      color: rgb(226, 43, 43);
      border: 3px solid rgb(0, 0, 0);
  }
  
  #number3 {
      background-color: yellow;
      color: rgb(226, 43, 43);
      border: 3px solid rgb(0, 0, 0);
  }
  #color {
      color: rgb(22, 90, 115);
      padding-left:1100px;
  }
  #prava {
      padding-left: 1060px;
  
  }
  #animal {
     color: rgb(24, 64, 133);
     padding-left: 1030px;
  }
  body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     }
     
     header {
     background-color: lightblue;
     padding: 20px;
     }
     
     nav {
     background-color: lightgray;
     color:black
     }
     
     nav ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     }
     
     nav ul li {
     display: inline;
     margin-right: 10px;
     }
     
     nav ul li a {
     text-decoration: none;
     }
     
     main {
     padding: 20px;
     }
     
     section {
     margin-bottom: 20px;
     }
     
     footer {
     background-color: rgb(103, 98, 98);
     padding: 20px;
     }